[global]
DEBUG = True
LOGFILE = /var/log/mqtt-zabbix.log
MQTT_HOST = mqtt.example.com
MQTT_PORT = 1883
MQTT_TOPIC = /#
KEYFILE = /etc/mqtt-zabbix/keys.csv
KEYHOST = house
ZABBIX_SERVER = zabbix.example.com
ZABBIX_PORT = 10051
